@{
    Layout = "_AdminLayout";
}

@model List<Product>;
<h1>Show products</h1>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Product Name</th>
            <th scope="col">Product Description</th>
            <th scope="col">Product Price</th>
            <th scope="col">Product Quantity</th>
            <th scope="col">Product Category Name</th>

            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var products in Model)
            {
                <tr>
                    <td>
                        <img src="~/assets/images/@products.ImageName"  style="height:50px;width:50px;border-radius:20px;" />
                    @products.Name</td> 
                    <td>@products.description</td>
                    <td>@products.price</td>
                    <td>@products.qty</td>
                    <td>@products.Category?.Cat_Name</td>
                    <td>
                        <a href="@Url.Action("Updateprod", "Admin", new {id = products.ID})">Update </a>

                        <a href="@Url.Action("deleteprod", "Admin", new {id = products.ID})"> Delete</a>
                    </td>
                </tr>
            }
        }

    </tbody>
</table>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

@{
    if (TempData["Message"] != null)
    {
        <script>
                    Swal.fire({
              title: "Category Deleted Successfully",
              text: "Deleted",
              icon: "success"
            });
        </script>
    }
}